[tool.poetry]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_name }} - A Python package that provides ..."
license = "MIT"
authors = [
    "{{ full_name }} <{{ email }}>"
]
readme = "README.md"
repository = "https://github.com/{{ github_username }}/{{ project_name }}"
keywords = ["python", "copier-pypackage"]
packages = [
    { include = "{{ project_slug }}", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.9"
click = "*"

[tool.poetry.group.dev.dependencies]
copier = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pre-commit = "*"
ruff = "*"
tox = "*"
mypy = "*"

[tool.poetry.scripts]
{{ project_name }} = '{{ project_slug }}.console:run'

[tool.pytest.ini_options]
pythonpath = ["src"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
